        .toc{color:#fff;font-family: "Poppins"; width: 200px;height: auto;z-index: 999;padding: 10px 10px 10px 0; border-radius: 10px; background: transparent;transform: translateX(0);right: calc((100% - 1610px) / 2);position: fixed;}
        .toc{overflow-y:auto}
        .toc>.toc-list{overflow:hidden;position:relative}
        .toc>.toc-list li{list-style:none}
        .toc-list{margin:0;padding-left:10px}
        a.toc-link{color:currentColor;height:100%;display: block; padding: 5px 0;}
        .is-collapsible{max-height:1000px;overflow:hidden}
        .is-collapsed{max-height:-1}
        .is-position-fixed{position:fixed !important;top:100px;}
        .is-active-link{font-weight:700}
        .toc-link::before{background-color:#dcdcdc;content:' ';display:inline-block;height:inherit;left:0;margin-top:-1px;position:absolute;width:5px}
        .is-active-link::before{background-color:#00ffff;}
